html {
	box-sizing: border-box;
}

*, *:before, *:after {
	inherit;
}

h1, h2, p {
	border: 1px solid;
	margin: 0;
}

h1, h2 {
	padding: 5px;
	text-align: right;
}


li {
	background-color: papayawhip;
	display: inline;
	margin: 5px;
	list-style: none;
	padding: 5px;
}

#main {
	border: 1px solid;
	width: 100%;
	height: 300px;
	background: darkgrey;
}

footer p {
	text-align: center;
}

a {
	text-decoration: none;
}

address > a {
	background-color: papayawhip;
	display: inline-block;
	/*border: 1px solid;*/
	padding: 5px;
	margin: 5px;
	margin-left: 1px;
}
